body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero,
footer {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

div img {
    width: 500px;
    height: 350px;
    padding: 30px 50px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 20px;
    border-radius: 8px;
}

.mid-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

figure img {
    padding: 0;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

figcaption {
    width: 150px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 100px 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.quote:first-child {
    align-self: flex-start;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    margin: 0;
    padding: 0;
}

cite {
    font-weight: bold;
}

.notifier {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    max-width: 700px;
    border-radius: 8px;
}

div button {
    border: 2px solid #e5e7eb;
}

footer {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}